.principal{
    background-image: url('../../../assets/img/menu/fondo.svg');
}
.component{
    width: 1106px;
    height: 664px;
    margin-left: 47px;
    margin-right: 127px;
    margin-top: 68px;    
}