<div>
  <ion-grid class="principal">
    <ion-row>
      <ion-col >
        <ion-button class="back" fill="clear">
          <ion-icon slot="icon-only" src="assets/icon/caret-back.svg"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col >
        <ion-button class="home" fill="clear">
          <ion-icon slot="icon-only" src="assets/icon/home.svg"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col >
        <ion-button class="forward" fill="clear">
          <ion-icon slot="icon-only" src="assets/icon/caret-forward.svg"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
