.principal{
    width: 1144px;
    height: 664px; 
}
.titulo{
    margin-top: 81px;
    margin-left:334px;
    margin-right: 334px;
    width: 476px;
    height: 164px;
    text-align: center;
}
.texto{   
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 52px;
    text-align: center;
    
    color: #5F659C;
}
.opciones{
    top: 254px;
    margin-left: 190px;
    margin-right: 190px;
}

.textoOpcion{
    //width: 144px;
    height: 45px;
    //left: 317px;
    top: 621px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    
    /* identical to box height */
    
    color: #5F659C;    
}

.btnLogout{
    position: absolute;
    left: 142px;
    top: 137px;    
}
.icon{
    position: absolute;
    width: 56px;
    height: 45px;
}
