.logo{
    width: 489px;
    height: 399px;
}
.logoComponent{
    margin-left: 395px;
    margin-right: 396px;
    top: 152px;
}
.subtitulo{
    //font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    text-align: center;

    color: #5F659C;
}

.vector3{
    position: absolute;
    width: 489px;
    height: 399px;
    left: 940.99px;
    right: 0%;
    top: 0px;
    bottom: 42.61%;
    
    //background: #FCD260;    
}
.vector4{
    position: absolute;  
    left: 1168.58;
    right: 14.77%;
    top: 51%;
    bottom: 26.76%;
    
    background: #FCE095;    
}