<div class="principal">
  <ion-grid>
    <ion-row>
      <ion-col class="categorias">
        <ion-segment (ionChange)="selectCategories($event)">
          <div class="prueba">
            <ion-segment-button value="imagen" class="btnCategoria" text-lowercase="true">Imagen de mí <br>mismo</ion-segment-button>
          </div>
          <div class="prueba">
            <ion-segment-button value="cuerpo" class="btnCategoria" text-lowercase="true">Partes del<br>cuerpo</ion-segment-button>
          </div>
          <div class="prueba">
            <ion-segment-button value="familia" class="btnCategoria" text-lowercase="true"> familia</ion-segment-button>
          </div>
        </ion-segment>
      </ion-col>    
    </ion-row>   

    <ion-row>
      <ion-col class="categorias">
        <ion-segment (ionChange)="selectCategories($event)">
          <div class="prueba">
            <ion-segment-button value="alimentos" class="btnCategoria" text-lowercase="true">Alimentos</ion-segment-button>
          </div>
          <div class="prueba">
            <ion-segment-button value="animales" class="btnCategoria" text-lowercase="true">Animales</ion-segment-button>
          </div>
          <div class="prueba">
            <ion-segment-button value="juguetes" class="btnCategoria" text-lowercase="true">Juguetes</ion-segment-button>
          </div>
      </ion-segment>
      </ion-col>    
    </ion-row>  

    <ion-row>
      <ion-col class="categorias">
        <ion-segment (ionChange)="selectCategories($event)">
          <div class="prueba">
            <ion-segment-button value="prendas" class="btnCategoria" text-lowercase="true">Prendas de<br>Vestir</ion-segment-button>
          </div>
          <div class="prueba">
            <ion-segment-button value="casa" class="btnCategoria" text-lowercase="true">Partes de la<br>Casa</ion-segment-button>
          </div>
          <div class="prueba">
            <ion-segment-button value="transporte" class="btnCategoria" text-lowercase="true">Medios de <br>Transporte</ion-segment-button>
          </div>
      </ion-segment>
      </ion-col>    
    </ion-row>          

    <ion-row>
      <ion-col class="categorias2">
        <ion-segment (ionChange)="selectCategories($event)">
          <div class="prueb2">
            <ion-segment-button value="comunidad" class="btnCategoria" text-lowercase="true">Servidores de la <br>Comunidad</ion-segment-button>
          </div>
          <div class="prueba2">
            <ion-segment-button value="musica" class="btnCategoria" text-lowercase="true" >Instrumentos<br>Musicales</ion-segment-button>
          </div>
      </ion-segment>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
