.principal{
    width: 818px;
    height: 624px; 
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.btnCategoria{
    width: 176px;
    height: 85px;
    border-radius: 20px;  
    text-align: center;
    background: #7A84DD;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 36px;
    text-align: center; 
    color: #FFFFFF;       
}
.centro{
    margin-left: 54px;
    margin-right: 54px;
}
.categorias{
    margin-left: 58px;
    margin-right: 58px;
    top: 100px;
}
.categorias2{
    margin-left: 205px;
    margin-right: 196px;
    top: 100px;
}
.prueba{
    margin-left: 30px;
    margin-right: 21px;
}
.prueba2{
    margin-left: 50px;
    margin-right: 1px;
}