.principal{
    position: absolute;
    width: 590px;
    height: 664px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.section{
    left: 99px;
    right: 98px;      
}
.input{
    position: absolute;
    width: 393px;
    height: 38px;  
    background: #ECEEFD;
    backdrop-filter: blur(4px);    
}

.label{
    position: absolute;
    width: 224px;
    height: 583px;
    //left: 746px;
    //top: 116px;
    
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    
    color: #5F659C;    
}