.principal{
    width: 345px;
    height: 696px;    
}
.backIcon{
    top: 18px;
    left: 21px;
}
.btnBack{
    position: absolute;
    width: 42px;
    height: 42px;    
    background-image: url('../../../assets/icom/logout.svg');
}
.image{
    position: absolute;
    width: 213px;
    height: 213px;
    top: 120p;
    left: 66px;
    right: 66px;  
}
.titulo{
    position: absolute;    
    left: 21px;
    right: 21px;
    width: 303px;
    height: 72px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 41px;
    line-height: 61px;
    text-align: center;    
}

.btnComando1{
    position: absolute;
    width: 303px;
    height: 56px;
    left: 21px;
    right: 21px;
    background: rgba(255, 230, 190, 0.94);
    border-radius: 15px;  
    color: #5F659C;  
    top: 443px;
}
.btnComando2{
    position: absolute;
    width: 303px;
    height: 56px;
    left: 21px;
    right: 21px;
    background: rgba(255, 230, 190, 0.94);
    border-radius: 15px;  
    color: #5F659C;   
    top: 519px;
}